@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
    --dark-color-a: #00BFFF;
	--dark-color-b: blue;
	--light-color: #e6e9ff;
	--success-color: #5cb85c;
	--error-color: #d9534f;
}

*{
    box-sizing: border-box;
    margin:0;
    padding: 0;

}

body {
    font-family: 'Times New Roman', serif;
	font-size: 16px;
    /* This margin makes sure it's not all the way stuck to the corners */
	margin: 20px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.btn {
    border-radius: 10px;
    margin-left: 5px;
    font-family: "Times New Roman", serif;
    /*cursor is a pointer that indicates a link*/
    cursor: pointer;
    /*CSS has properties for specifying the padding for each side of an element:
    padding-top,padding-right,padding-bottom,padding-left*/
    padding: 5px 15px;
    background:var(--light-color);
    color: black;
    /*border makes sure there is none around the border*/
    border:0;
    font-size: 17px;
}

/*Chat page*/

/*The class "chat-container" is the whole div that contains the message box*/
.chat-container {
    font-family: "Times New Roman", serif;
    max-width: 1100px;
    background: #fff;
    border: 3px solid black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;


    /*margin puts it in the position, it's not position:relative*/
    margin-bottom: auto;
    margin-left: auto;
    margin-top: 70px;
    margin-right: auto;
    overflow: hidden;
}

.chat-header {
    /*The padding makes the Grace Chatbot
    into a bigger box, more spacious
    */
    padding: 15px;
    border: 2px solid black;
    background: white;
    color: midnightblue;

    /*This makes only the top left and top right
    so that bottom is connected to the rest of the chat-continaer*/
    /*border-top-left-radius: 5px;*/
    /*border-top-right-radius: 5px;*/
    display: flex;
    align-items: center;
    justify-content: center;
}


.chat-main {
    /*The grid-template-columns property specifies the number
    (and the widths) of columns in a grid layout*/
    font-family: "Times New Roman", serif;
}

.chat-messages {
    font-family: "Times New Roman", serif;
    padding: 30px;
    /*This is the maximum height for the scrolling down*/
    max-height: 300px;
    overflow-y: scroll;
}

/*.chat-messages .message {*/
/*    background-color: var(--light-color);*/
/*    border-radius: 5px;*/
/*    padding: 10px;*/
/*    margin-bottom: 30px;*/
/*    overflow-wrap: break-word;*/
/*}*/

.chat-messages .message {
    margin-left: 40%;
    background-color: blue;
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 30px;
    overflow-wrap: break-word;
}

/*This one is for when it gets created
by the add div in the js scripts, so
it's not included in the html*/
.chat-messages .message .meta {
    font-size: 15px;
	font-weight: bold;
	color: var(--dark-color-b);
	opacity: 0.7;
	margin-bottom: 7px;
}

.chat-messages .message .meta span {
    color: #777;
}

.chat-form-container {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.chat-form-container form {
    display: flex;
}

.chat-form-container input[type ='text'] {
    border-radius: 10px;
    background-color: #E5E4E2;
    font-size: 16px;
	padding: 5px;
	height: 40px;
	flex: 1;
}